body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}

h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
p{
    margin-bottom: 30px;
}
.orange-color{
    color: orange;
}
.blue-color{
  color: rgb(59, 59, 163);
}
.flexiable-container{
    display: flex;
    margin-bottom: 40px;
    
}

.half-banner{
    width: 50%;
    padding-left: 10px;
}

.half-banner img{
    width: 70%;
    padding-left: 20px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(
        #a73737 , #7a2828);
    padding: 10px 40px;
    color: rgb(236, 229, 229);
    font-weight: 700;
   
}

.top-banner{
    background-image:  url(./images/top-banner.png);
    background-repeat: no-repeat;
    
   
}
.middle-banner{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bottom-class{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
}

.bottom-banner{
    background-image:  url(./images/exp-bg.png);
    background-repeat: no-repeat;
    
  
    
}

#bottom-linkable{
    border-left: 7px solid;
    border-image: linear-gradient(#4776e6
, #8e54e9    );
border-image-slice: 1;

}

#bottom-link{
    border-left: 7px solid;
    border-image: linear-gradient(#AA076B, 
    #61045f);
    border-image-slice: 1;
}

footer{
    text-align: center;
}